<div class="header hover body-width">
    <div id="nav" class="active" role="navigation">
      <ul id="menu-main-menu" class="menu">
        <li class="menu-item">
            <a href="index.html" style="margin-right: 15px;">Home</a>
        </li>
        <li class="menu-item">
            <a href="about.html" style="margin-right: 15px;">About</a>
        </li>
        <li class="menu-item">
            <a href="portfolio.html" style="margin-right: 15px;">Portfolio</a>
        </li>
      </ul>
      <div class="trigger">
        <div id="line-1"></div>
        <div id="line-2"></div>
      </div>
    </div>
    <div id="logo">
        <a href="/">
          <img src="assets/img/logo.svg" alt="Al Ribo" />
        </a>
    </div>
</div>