<div id="home">
    <div class="main">
        <div id="text1">Hi,</div>
        <div id="text2">I am a <span class="highlight">&nbsp;Software Engineer.&nbsp;</span></div>
        <div id="text3">
            <span id="textStatic">I can </span>
            <ul id="textRandom">
                <li>code in JavaScript & Typescript.</li>
                <li>develop using Node JS.</li>
                <li>code apps with Angular.</li>
                <li>develop using Laravel PHP.</li>
                <li>use AWS.</li>
                <li>maintain Angular JS apps.</li>
                <li>experiment in AI & ML using Python.</li>
                <li>have a go at React Native.</li>
                <li>experiment with React.</li>
                <li>develop Wordpress' websites.</li>
                <li>code in HTML5 & CSS3.</li>
                <li>build HTML5 ad banners.</li>
                <li>code with SASS & LESS.</li>
                <li>animate with CSS3.</li>
            </ul>
        </div>
        <div class="separator"></div>
        <a href="portfolio.html" class="button">View portfolio</a>
    </div>
</div>