
            <div id="home">
                <div class="main">
                    <div id="text-1">Hi,</div>
                    <div id="text-2">I am a <span class="highlight">&nbsp;Web Software Engineer.&nbsp;</span></div>
                    <div id="text-3">
                        <span id="textStatic">I can </span>
                        <ul id="textRandom">
                            <li>code in JavaScript.</li>
                            <li>code apps with Angular.</li>
                            <li>develop using Laravel PHP.</li>
                            <li>write AWS Lambda functions with Node JS.</li>
                            <li>have a go at React Native.</li>
                            <li>experiment with React.</li>
                            <li>maintain Angular JS apps.</li>
                            <li>develop Wordpress' websites.</li>
                            <li>code in HTML5 & CSS3.</li>
                            <li>build HTML5 ad banners.</li>
                            <li>code with SASS & LESS.</li>
                            <li>animate with CSS3.</li>
                        </ul>
                    </div>
                    <div class="separator"></div>
                    <a href="/portfolio" class="button">View portfolio</a>
                </div>
            </div>